page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }


    h1{
      padding-top: 50px;
      text-align: center;
    }
    div{
      padding-top: 80px;
    }

  }
